.green-body {
  background-color: #024731;
}

label {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.8rem 0;
  font-size: 1.3rem;
}

.formInput .icon {
  font-size: 1.7rem;
}

span {
  font-weight: bold;
}

.main-container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid red;
}